form {
    display: table;
    border-spacing: 0 10px; /* Adjust this value for the space between rows */
}
p {
    display: table-row;
}
label {
    display: table-cell;
}
input {
    display: table-cell;
    margin-right: 5px;
    margin-left: 5px;
}
.Header{
    text-decoration: underline;
}
body {
    background-color: #ff8921;
    font-family: Arial, Helvetica, sans-serif;
}
button{
    margin-top: 25px;
    width: 330px;
    height: 50px;
    border-radius: 20px;
    background-color: white;
}
button:hover {
    background-color: lightgray;
  }
tr:hover{
    background-color: #D6EEEE;
}
h2{
    text-decoration: underline;
}
table{
    padding-top: 10px;
}
th, td {
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}
th {
    border: 2px solid #000; /* Thicker outline for headers */
}
td {
    border: 1px solid #000; /* Lighter outline for cells */
    width: 250px;
}

