body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #9ed5ff;
    overflow: hidden;
    font-family: "Titillium Web", sans-serif;

}
.container {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    /* No changes needed in the .container styles */
}
h1{
    text-align: center;
    font-size: 30pt;
    font-family: "Titillium Web", sans-serif;
}
h2 {
    margin-bottom: 1rem;
    font-family: "Titillium Web", sans-serif;
}
a{
    color: gray;
    text-align: center;
}
.form-group {
    margin-bottom: 1rem;
}
.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}
.form-group input {
    width: 95%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-group button {
    width: 100%;
    padding: 0.75rem;
    background-color: #004275;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: larger;
    font-family: "Titillium Web", sans-serif;
}
.form-group-alt button {
    width: 100%;
    padding: 0.75rem;
    background-color: #004275;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: larger;
    font-family: "Titillium Web", sans-serif;
}
.form-group-alt button:hover {
    background-color: #002642;
}
.form-group button:hover {
    background-color: #002642;
}
.error {
    color: red;
    margin-top: 1rem;
}